<%- include('partials/header') %>


<h1>Welcome to SneakHurz </h1>


<div class="main">
    <form action="/" method="post">
        <input type="text" name="search-bar" >
        <button type="submit">Submit</button>
    </form>
</div>
<h3>Trending</h3>

<%- include('partials/footer') %>
